/* Mega Menu Design */
.navbar{
    background-color: rgba(12, 48, 126, 0.9)!important;
}
#megamenu{
    padding: 20px;
}
/* Mega Menu Design */
/* Menu Login */

/* Menu Login */

.dcouple {
  /* The image used */
  background-image: url(../image/cover1.jpg);
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; 
  background-attachment: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Footer */
