/* navbar styling start*/
    .navbar {
    background-color: #081870;
    }
    .logo {
    max-width:100%;
    height:auto;
    }

    .btn{
        color: white;
    }
    .btn-outline-success-inline{
    background-color:  #050440;
    }
    .btn:hover{
        color:#081870;
    }
    .btn-outline-success-inline:hover{
    background-color: white;
    }
    .form-control-inline{
        border-style: none;
        border-radius: 3px;
    }
    .placeholder{
        margin-left: 2px;
    }
    .nav-link{
        color:white;
    }
    .navbar-toggler{
        background-color: white;
        margin-bottom:none;
    }
    .navbar-toggler-icon{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    }
    .fa-bars{
        color:#0A1F8F!important;
    }
/* navbar styling end */
/* footer start */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 8vh;
  width: 100%;
  background-color:#081870;
  color: white;
  text-align: center;
}
.btn-primary{
    margin: 10px;
}
.padding-footer{
    height:60px;
}
.card-title{
    font-size:15px;
}
.card-link{
    display: block;
    font-size: 12px;
}
#top-banner-img{
    background-image: url(../image/jumbo-2.jpg); 
    background-size: cover;
    background-position: center;
}
#top-banner{
    height:30vh!important;
}
/* footer end */