/* Mega Menu Design */
.navbar{
    background-color:transparent;
}
#megamenu{
    padding: 20px;
}
/* Mega Menu Design */
/* Menu Login */

/* Menu Login */

.dcouple {
  /* The image used */
  background-image: url(../image/navigate.jpg);
  display:flex;
  justify-content: center;
  align-items: center;
  /* Set a specific height */
  min-height: 40vh; 

  /* Create the parallax scrolling effect */
  background-attachment: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Footer */
