/* Mega Menu Design */
.navbar{
    background-color: rgba(12, 48, 126, 0.9)!important;
}
#megamenu{
    padding: 20px;
}
/* Mega Menu Design */
/* Menu Login */

/* Menu Login */
/* Cover */
#title-copy{
    font-family: 'Lato', sans-serif;
    color:white;
}
p {
    font-family: 'Lato', sans-serif;
}
.jumbotron{
    height:100vh;
    background:linear-gradient(to bottom, rgba(245, 246, 252, 0.22), rgba(12, 48, 126, 1)),url(../image/index-home-jumbotron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:0px;
    border-radius: 0 !important;
}

/* Cover */
/* Short intro */
.short-intro{
    background-color: rgb(12, 48, 126);
    display:flex;
    justify-content: center;
    align-items: center;
    height:90vh;
}
#aboutcopy{
    font-family: 'Lato', sans-serif;
    color:white;
}
#since2006{
    padding-right: 20px;
}
/* Short intro */
/* Collage */



/* Collage */
/* CTA */
.center{
    display:flex;
    justify-content: center;
}
/* CTA */

/* Footer */
.footer{
    height: 30vh;
}

.couple{
    background:url(../image/couple.png);
    height:inherit;
}
/* Footer */

@media only screen and (max-width: 600px){
    .title-card{
        margin-left:2vh;
}
}