/* general styling */
/* navbar styling start*/
    .navbar {
    background-color: #081870;
    }
    .logo {
    max-width:100%;
    height:auto;
    }

    .btn{
        color: white;
    }
    .btn-outline-success-inline{
    background-color:  #050440;
    }
    .btn:hover{
        color:#081870;
    }
    .btn-outline-success-inline:hover{
    background-color: white;
    }
    .form-control-inline{
        border-style: none;
        border-radius: 3px;
    }
    .placeholder{
        margin-left: 2px;
    }
    .nav-link{
        color:white;
    }
    .navbar-toggler{
        background-color: white;
        margin-bottom:none;
    }
    .navbar-toggler-icon{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    }
    .fa-bars{
        color:#0A1F8F!important;
    }
/* navbar styling end */
/* Slider Start */
.carousel{
    display: flex;
    justify-content: center;
}
.carousel-inner{
    height:250px;
    width:721px;
}
.d-block{
    position: center!important;
}
/* Slider End */
/* Jumbotron Start */
.jumbotron{
    background-image: url(../image/jumbo-img.jpg); 
    background-size: fit;
    background-size: cover;
    background-position: center;>
}
.backing{
    background-color: rgba(8,24,112,0.1);
    padding:50px;
}
.selector{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height:250px;
    width:721px;
}

.cabinets{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container:hover .cabinets{
      height: 100%;
}
.tab{
    height:80px;
}
/* Jumbotron end */
/* Small size */
@media only screen and (max-width: 434px) {
.logo {
    display: flex;
    justify-content: center;
    width:100%;
  }